@charset "UTF-8";
/* CSS Document */
.header-container {
	display:flex;
	justify-content: space-between;
	position:relative;
	width:80%;
	left:20%;
}

.logo {
	display:flex;
	justify-content:flex-start;
	padding-top:2%;
}

.name {
   flex-direction:column;
   justify-content: flex-end;
}

.description {
	margin-left: 30%;
}

h1 {
	font-size:36px;
}

p {
	font-size:24px;
}

.line {
	border: solid #248f24;
	border-width: 3px 0 0;
	clear: both;
	margin: 22px 0 21px;
	height: 0;
	width:80%;
	float:right;
}

.main-image {
	width: 80%;
  margin-left: auto;
	margin:auto;

}

.main-container {
	 width: 100%;
    display: flex;
	//border: solid 1px #000;
}

.big-image {
	width: 100%;
}

.profile-links {
	display:flex;
	flex-direction:column;
	justify-content: space-between;
	width: 20%;
	padding-left:0;
	padding-top:0;
}

.left-images {
	height:80px;
	width:80px;
}


* {
   font-family: 'Julius Sans One', sans-serif;
	 color: #80774c;
   box-sizing: border-box;
	 background-color: #DCDCDC;
}

li {
    justify-content:center;
    display: flex;
}

.heading {
	font-size:36px;
	color:grey;
	padding-top:1%;
	padding-bottom:1%;
}

.featuredWork-container {
	position:relative;
	width:80%;
	left:20%;
	flex-direction:column;
	flex-wrap:wrap;
}

.projects {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
}

.projects-img {
	 height:180px;
	 width:100%;
}

figcaption {
	padding-top:5px;
	text-align:center;
}

figure {
	margin: 0;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 290px;
		margin-right: 1.5%;
		margin-bottom: 2%;
		padding-bottom: 1%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.project-description {
  font-size: 17px;
  padding: 0 10px;
  line-height: 1.4;
	text-align: center;
}
.project-link {
  font-size: 17px;
  padding: 20px 0;
	text-align: center;
}
.github-link {
  font-weight: 400;
  color: #008a45;
  text-decoration: none;
	text-align: center;
}

.github-link:hover {
  background-color: #efebdc;
}
.blast {
  display: inline-block;
  color: #446ca2;
  opacity: 0;
}

.blast:nth-child(odd) {
  color: #b0c4de;
}
